body {
   
}

.row{
    
}

.image{
    height: 100px;
}

.header{
    text-align: center;
    padding-bottom: 20px;
}

.section-left-top{
    background-color: aqua;
    padding-top: 20px;
}

.form-group{
    margin-right:5px;
    margin-left:5px;
}

.section-left-bottom{
    background-color:skyblue;
    padding-top: 20px;
}

.section-left-items {
    border-top: 2px solid grey;
    margin-top: 20px;
}

.head-items {
    text-decoration: underline;
    text-align: center;
}

.footer {
    text-align: center;
    background-color: bisque;
    height: 50px;
    font-weight: bold;
    font-size: x-large;
}



